@charset "utf-8";

.row {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.form-check {
  margin-left: 0px;
}

header {
  padding-left: 60px;
  padding-top: 10px;
  background: black;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  white-space: nowrap;
  z-index: 10;
}

.header-logo {
  float: left;
  line-height: 50px;
  vertical-align: auto;
  z-index: 11;
}

.header-help {
  line-height: 50px;
  vertical-align: auto;
  z-index: 11;
}

.header-help:link {
  text-decoration: none;
  color: white;
}

.header-help:visited {
  text-decoration: none;
  color: white;
}

.header-help:active {
  text-decoration: none;
  color: white;
}

.header-help:hover {
  text-decoration: none;
  color: white;
}

.footer {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

body {
  padding-top: 80px;
}

.table {
  width: 100%;
  font-size: 0.9rem;
}

#thead th,
#tbody td {
  padding: .45em .2em;
}

#thead th {
  text-align: center;
}

.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

.accordion-body {
  padding: 1rem;
}

#music_count_sentence {
  margin-bottom: 0;
}

textarea {
  resize: none; /* ユーザーによるリサイズを無効化 */
  overflow: hidden; /* スクロールバーを非表示に */
  white-space: pre;
  overflow-x: auto; /* 横スクロールを有効化 */
  /* word-wrap: normal; 強制改行を防ぐ */
}

.no-border {
  border: none !important;
  box-shadow: none !important; /* フォーカス時の枠も削除 */
}

.textarea-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

.placeholder {
  position: absolute;
  top: 7px;
  left: 13px;
  color: gray;
  font-size: 16px;
  line-height: 1.5;
  pointer-events: none; /* クリックを無効化 */
}

/* textarea に入力がある場合は placeholder を非表示 */
/* .textarea-container textarea:focus + #placeholder,
.textarea-container textarea:not(:placeholder-shown) + #placeholder {
  display: none;
} */